@import url('https://fonts.google.com/specimen/Inconsolata');
$main-font: 'Inconsolata' sans-serif;
$rose-red: #922C40;
$dark-blue: #1E2640;
$light-orange: #F26336;
$light-blue: #45C1C1;

html {
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: $main-font;
    background-color: $rose-red;
}

.text {
    color: $dark-blue;
}
.text--player {
    color: $light-blue;
}
.text--computer {
    color: $light-orange;
}
.text--dark {
    color: black;
}

.heading {
    margin: 10px 0;
    text-align: center;
    font-size: 3.25rem;
    color: $dark-blue;
}
.block {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}
.d-flex {
    display: flex;
    justify-content: space-between;
}
.d-flex--center {
    display: flex;
    justify-content: center;
}
.card {
    text-align: center;
}
.card-image {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}
.image,
.image-left, 
.image-right {
    width: 250px;
    height: 250px;
}
@media only screen and (max-width: 800px) {
    .block {
        max-width: 700px;
    }
    .image,
    .image-left, 
    .image-right {
        width: 160px;
        height: 160px;
    }
}
.score {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin: 0 auto;
    font-size: 2rem;
}
.round {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 2.25rem;
}
.message {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

#player-result,
#computer-result {
    opacity: 0;
}